body{
    font-size: medium;
    color: #faeaab;
    font-family: 'Roboto';
    background-color: rgb(165, 85, 102);
    
}
.navbar{
    
    font-size: large;
    background-color: #faeaab;
}
h1{
    font-weight: bold;
    font-size: 100pxs;
    color: coral;
}

h2{
    font-family: 'Fira Sans';
    font-size: 30px;
    color: coral;
    
}