body{
    font-size: medium;
    color: rgb(250, 234, 171);
    font-family: 'Roboto';
    background-color: rgb(165, 85, 102);
    
}
h1{
    font-weight: bold;
    font-size: 100pxs;
    color: coral;
}

h2{
    font-family: 'Fira Sans';
    font-size: 30px;
    color: coral;
    
}